body {
    font-family: "Times New Roman";
    font-size: 18px;
}
#container {
    margin-top: 25px;
    height: 270px;
    width: 35%;
    margin-right: 10%;
    float: right;
    border: 3px solid #4CAF50;
    padding: 16px;
    border-radius: 30px;
}

#container-right {
    margin-top: 25px;
    height: 270px;
    width: 35%;
    margin-right: 10%;
    float: right;
    border: 3px solid #4CAF50;
    padding: 16px;
    border-radius: 30px;
}
#container-three {
    margin-top: 25px;
    height: 300px;
    width: 22%;
    margin-right: 7.5%;
    float: right;
    border: 3px solid #4CAF50;
    padding: 16px;
    border-radius: 30px;
}
#block {
    height: 1050px;
}
p{
    text-align: center;
    font-size: 18px;
}
p.title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.center-pic{
    display:block;
    margin:auto;
    text-align: center;


}
img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #4CAF50;
    box-shadow: 0 0 7px #666;
}
/* Set a style for all buttons */
a.button {
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    display:block;
    margin:auto;
    text-align: center;
}
