body {
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614380977_76-p-fon-dlya-prezentatsii-svetlii-nezhnii-odno-84.jpg');
    width: 564px;
    height: 4000px;

}